*

!README.md
!.env

!Dockerfile

!src
!src/**
!src/**/*.*

!tests
!tests/**
!tests/**/*.*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!.gitignore
!tsconfig.json
!jest.config.js
!entrypoint.sh

!prisma
!prisma/**
!prisma/**/*.*

node_modules